# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
Release/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.ipch

# Debug folder
Win32/*
.vs/*

# Guitar
*.bak
x64/Debug/FrameWork.log
x64/Debug/FrameWork.tlog/*.tlog
x64/Debug/FrameWork.tlog/CL.command.1.tlog
x64/Debug/FrameWork.Build.CppClean.log
x64/Debug/FrameWork_debug.Build.CppClean.log
x64/Debug/FrameWork.tlog/FrameWork.lastbuildstate
x64/Debug/FrameWork.tlog/unsuccessfulbuild
x64/Debug/FrameWork.vcxproj.FileListAbsolute.txt
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Release/FrameWork.log
x64/Release/FrameWork.tlog/CL.command.1.tlog
x64/Release/FrameWork.tlog/CL.read.1.tlog
x64/Release/FrameWork.tlog/CL.write.1.tlog
x64/Release/FrameWork.tlog/FrameWork.write.1u.tlog
x64/Release/FrameWork.tlog/link.delete.1.tlog
x64/Release/FrameWork.tlog/link.read.1.tlog
